/* Reset to Default */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* General Themes */ /* TODO 1: Change general theme colors */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main, #footer {
    transition: margin-left .5s;
    padding: 16px;
}
/* TODO 3: Add icons to toggle bar for clarity */