/* Dark Mode Themes */ /*TODO 2: Change dark-mode colors */
.dark-theme {
    background-color: #333333;
    color: #f1f1f1;
}

.dark-theme h1 {
    color: #f1f1f1;
}

.dark-theme p {
    color: #f1f1f1;
}

.dark-theme a {
    color: #f1f1f1;
}

.dark-theme ul {
    color: #f1f1f1;
}

.dark-theme span {
    color: #f1f1f1;
}

.dark-theme .sidebar {
    background-color: #111;
}

.dark-theme .sidebar a {
    color: #818181;
}

.dark-theme .sidebar a:hover {
    color: #f1f1f1;
}

/* Dark Mode Toggle */
label {
    left: 30px; /* Change the position of the toggle */
    width: 50px;
    height: 25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4), inset 0px 0px 3px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
}

label:after {
    content:'';
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1.5px;
    top: 1.5px;
    background: linear-gradient(to right, #f0d17e, #eb6c17);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

input {
    display: none
}

input:checked + label {
    background: #242424;
    box-shadow: inset 0px 0px 3px rgba(84, 85, 100, 0.4), inset 0px 0px 3px rgba(0, 0, 0, 0.4);
}

input:checked + label:after {
    left: calc(100% - 1.5px);
    transform: translateX(-100%);
    background: linear-gradient(to right, #0d4350, #000f3a);
}

label:active:after {
    width: 32px;
}